<strong>
  Olá, {{provider}} 
</strong>
<p>Hove um cancelamento de horário, confira os detalhes abaixo:</p>
<p>
  <strong>Clitente: </strong>{{user}} <br />
  <strong>Data/Hora: </strong>{{date}} <br />
  <br />
  <small>
    O horário esta novamente disponivel para novos agendamentos
  </small>
</p>